<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>diary</title>
</head>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<body>
<main class="green-container">
  <div class="green-visual-box" style="position: absolute">
    <div class="green-visual-content">
      <img src="/images/login/img_mail.png" alt="이메일 이미지">
    </div>
  </div>
  <div class="form-wrapper">
    <h1 style="margin-bottom: 0.3em;">이메일 인증을</h1>
    <h1 style="margin-top: 0;">완료해주세요</h1>
    <p>인증을 위한 이메일이 발송되었습니다.</p>
  </div>
</main>
</body>
</html>