<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>diary</title>
</head>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<body>
<main class="green-container">
  <div class="green-visual-box" style="position: absolute">
    <div class="green-visual-content">
      <div class="box box-1">
        <div class="eclipse">
          <img src="/images/ai/1.png" alt="AI 이미지1" />
        </div>
      </div>
      <div class="box box-2">
        <div class="eclipse">
          <img src="/images/ai/2.png" alt="AI 이미지2" />
        </div>
      </div>
      <div class="box box-3">
        <div class="eclipse">
          <img src="/images/ai/3.png" alt="AI 이미지3" />
        </div>
      </div>
      <div class="box box-4">
        <div class="eclipse">
          <img src="/images/ai/4.png" alt="AI 이미지4" />
        </div>
      </div>
    </div>
  </div>
  <div class="form-wrapper">
    <h1>회원가입</h1>
    <form class="regist_form" method="post" th:action="@{/auth/regist}" th:object="${signupForm}">
      <div class="input-group">
        <input class="inputBox" th:field="*{userId}" placeholder="아이디"/>
      </div>
      <div class="notice" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
      <div class="input-group">
        <input class="inputBox" th:field="*{email}" placeholder="이메일"/>
      </div>
      <div class="notice" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
      <div class="input-group">
        <input class="inputBox" th:field="*{name}" placeholder="이름"/>
      </div>
      <div class="notice" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      <div class="input-group">
        <input type="password" class="inputBox" th:field="*{password}" placeholder="비밀번호"/>
      </div>
      <div class="notice" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
      <div class="input-group">
        <input type="password" class="inputBox" th:field="*{repassword}" placeholder="비밀번호 확인"/>
      </div>
      <div class="notice" th:if="${#fields.hasErrors('repassword')}"
           th:errors="*{repassword}"></div>
      <button class="green-btn" type="submit">회원가입</button>
    </form>
  </div>
  </div>
</main>
</body>
</html>