<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>diary</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script src="/js/find-idpw.js" defer></script>
</head>
<body>
<main class="green-container">
  <div class="green-visual-box" style="position: absolute">
    <div class="green-visual-content">
      <img src="/images/login/img_lock.png" alt="자물쇠 이미지">
    </div>
  </div>
  <div class="form-wrapper">
    <!-- 탭 버튼 -->
    <h1>비밀번호를 변경할게요</h1>
    <form id="form-find-id" class="regist_form" th:action="@{/auth/change-pw}" method="post">
      <div class="input-group">
        <input
            type="password"
            class="inputBox"
            name="newPassword"
            placeholder="비밀번호"
            oncopy="return false"
            onpaste="return false"
            oncut="return false"
            ondragstart="return false"
            onselectstart="return false"
        />
      </div>
      <input type="hidden" name="email" th:value="${email}">
      <input type="hidden" name="userId" th:value="${userId}">
      <div class="input-group">
        <input type="password" class="inputBox" name="confirmPassword" placeholder="비밀번호 확인"
               oncopy="return false"
               onpaste="return false"
               oncut="return false"
               ondragstart="return false"
               onselectstart="return false"/>
      </div>
      <button class="green-btn" type="submit">확인</button>
    </form>

    <p th:if="${message}" th:text="${message}" style="color: green;"></p>
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
  </div>
</main>
</body>
</html>
