.calendar-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 30px;
}

.calendar-inner {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-header {
  grid-column: 1 / 8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  margin-bottom: 10px;
}

.calendar-title {
  grid-column: 1 / 4; /* 좌측 3칸 차지 */
  text-align: left;
  font-size: 2.0rem;
  font-weight: bold;
  padding-left: 30px;
}

.calendar-buttons {
  grid-column: 5 / 8; /* 우측 3칸 차지 */
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 30px;
}

.calendar-buttons button {
  background: none;
  border: none;
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
}

.calendar-grid {
  grid-column: 1 / 8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day-label {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  padding-bottom: 5px;
}

.date-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

.date-circle {
  width: 36px;
  height: 36px;
  background-color: #D9D8D5;
  border-radius: 50%;
}

.emotion-img {
  width: 120%;
  height: 120%;
  object-fit: contain;
  transform: scale(2); /* 이미지 자체 확대 */
  margin: -4px; /* 공백 줄이기 위한 여백 제거 */
}

.date-number {
  margin-top: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #282420;
}

/* 오늘 강조 스타일 */
.today-circle {
  border: 2px solid #89C07E;
}

.today-number {
  color: #89C07E;
  font-weight: bold;
}
