body {
  margin: 0;
  background-color: #E0E8E2;
  font-family: 'Arial', sans-serif;
}

.green-container{
  display: flex;
  align-items: center;
  height: 100vh;
  padding-left: 3vw;
  gap: 100px;
}


.green-visual-box {
  background-color: #467750;
  border-radius: 20px;
  padding: 60px 40px;
  margin-right: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 45vw;
}

.green-visual-box img {
  width: 300px;
  max-width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 12vw;
}

.form-wrapper h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

form:not(.regist_form) {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.regist_form  {
  width: 416px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.input-group {
  display: flex;
  align-items: center;
  background-color: #FEFBF6;
  padding: 10px 15px;
  border-radius: 8px;
}

.input-group i {
  color: #467750;
  margin-right: 10px;
}

.input-group input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 1rem;
}

.green-btn {
  background-color: #467750;
  color: #FEFBF6;
  border: none;
  border-radius: 8px;
  height: 45px;
  font-size: 1.1rem;
  cursor: pointer;
}

.notice {
  color: red;
  font-size: 0.9rem;
  margin-top: -10px;
}

.links {
  margin-top: 20px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.links a {
  color: #467750;
  text-decoration: underline;
}

.box {
  width: 275px;
  height: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.box-1 {
  top: 115px;
  left: 101px;
}

.box-2 {
  top: 115px;
  left: 445px;
}

.box-3 {
  top: 494px;
  left: 101px;
}

.box-4 {
  top: 494px;
  left: 445px;
}

.eclipse {
  position: fixed;
  width: 275px;
  height: 275px;
  background-color: #282420;
  border-radius: 50%;
  overflow: hidden;
}

.eclipse img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.tab-buttons {
  display: flex;
  gap: 10px;
  width: 416px;
  margin-bottom: 15px;
}

.tab-button {
  flex: 1;
  padding: 10px;
  border: 2px solid #467750;
  background-color: transparent;
  color: #467750;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.tab-button.active {
  color: #467750;
}

.tab-button.disabled {
  opacity: 0.3;
  /*pointer-events: none;*/
}
