* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background: linear-gradient(135deg, #E0E8E2 0%, #f0f4f1 100%);
  min-height: 100vh;
  transition: all 0.3s ease;
}

.main {
  background-color: #E0E8E2;
  padding: 30px;
  min-height: 100vh;
  margin-left: 60px;
  flex: 1;
  justify-content: center; /* 가로 중앙 정렬 */
}

.main-container{
  max-width: 800px;
  width: 100%;
  margin: 30px auto;
  height: 100%;
  justify-content: center;
}

