.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60px;
  background-color: #282420;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

.sidebar .menu a.active,
.sidebar .menu a.active i,
.sidebar .menu a.active span {
  color: #467750;
}

.sidebar:hover {
  width: 200px;
}

.sidebar .profile {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sidebar .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}

.sidebar .menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #D9D8D5;
  font-weight: bold;
  padding: 8px;
  width: 100%;
}

.sidebar .menu a i {
  width: 24px;
  font-size: 18px;
}

.sidebar .menu a span {
  margin-left: 10px;
  white-space: nowrap;
  display: none;
}

.sidebar:hover .menu {
  align-items: flex-start; /* hover 시 왼쪽 정렬로 전환 */
}

.sidebar:hover .menu a {
  justify-content: flex-start; /* hover 시 왼쪽으로 아이콘 + 텍스트 정렬 */
  padding-left: 20px;
}

.sidebar:hover .menu a span {
  display: inline;
}

/* 로그아웃 버튼 스타일 추가 */

.sidebar .logout {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.sidebar:hover .logout {
  justify-content: flex-start;
  padding-left: 20px;
}

.sidebar .logout a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #D9D8D5;
  font-weight: bold;
}

.sidebar .logout a i {
  width: 24px;
  font-size: 18px;
}

.sidebar .logout a span {
  margin-left: 10px;
  white-space: nowrap;
  display: none;
}

.sidebar:hover .logout a span {
  display: inline;
}
