<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Timeline</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/card-timeline.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <th:block th:replace="fragments/csrf-meta :: csrfMeta"></th:block>
</head>
<body>
  <div th:replace="fragments/member-sidebar :: memberSidebar"></div>
  <script src="/js/logout.js"></script>

  <div class="main">
    <div class="timeline-wrapper">
      <h2 class="timeline-title">타임라인</h2>
    </div>
    <div th:insert="fragments/diary-card-timeline :: diaryCardTemplate"></div>
    <div id="diary-card-container" class="card-list"></div>
  </div>

  <script src="/js/emotion-map.js"></script>
  <script src="/js/sidebar.js"></script>
  <script src="/js/card-timeline.js"></script>
</body>
</html>