<!-- diary-card-timeline.html -->
<div th:fragment="diaryCardTemplate">
  <template id="diary-card-timeline-template">
    <div class="diary-card">
      <div class="diary-left">
        <div class="diary-header">
          <img class="emotion-icon" src="" alt="emotion" />
          <span class="diary-date">날짜</span>
        </div>
        <div class="diary-content">
          일기 내용이 여기에 표시됩니다.
        </div>
      </div>
      <div class="diary-right">
        <div class="image-wrapper">
          <img class="diary-image" src="" alt="diary image" />
        </div>
      </div>
    </div>
  </template>
</div>
